<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ancun.core.datadict.impl.PubDataDictionaryMapper">
    <resultMap id="pubDataDictionaryMap" type="pubDataDictionaryEntity">
        <id column="DICT_VALUE" property="dictValue"/><!-- 数据字典的值 -->
        <id column="DICT_GROUP" property="dictGroup"/><!-- 分组 -->
        <result column="GMT_CREATE" property="gmtCreate"/>
        <result column="PARENT_VALUE" property="parentValue"/><!-- 上级数据字典值 -->
        <result column="TEXT_COLOR" property="textColor"/><!-- 文本颜色 -->
        <result column="DICT_TEXT" property="dictText"/><!-- 数据字典的显示文本 -->
        <result column="EXTEND1" property="extend1"/><!-- 扩展1 -->
        <result column="SORT_NUM" property="sortNum"/><!-- 排序 -->
        <result column="EXTEND3" property="extend3"/><!-- 扩展3 -->
        <result column="EXTEND2" property="extend2"/><!-- 扩展2 -->
        <result column="GMT_MODIFY" property="gmtModify"/>
        <result column="STATUS" property="status"/><!-- 1 正常 -1 已删除 -->
        <result column="SUB_SYSTEM" property="subSystem"/><!-- 数据字典所子系统 多个以','分割 -->
    </resultMap>

    <insert id="insert" parameterType="pubDataDictionaryEntity">
        insert into
        PUB_DATA_DICTIONARY(
        DICT_VALUE
        ,DICT_GROUP
        ,GMT_CREATE
        <if test="parentValue != null">,PARENT_VALUE</if>
        <if test="textColor != null">,TEXT_COLOR</if>
        <if test="dictText != null">,DICT_TEXT</if>
        <if test="extend1 != null">,EXTEND1</if>
        <if test="sortNum != null">,SORT_NUM</if>
        <if test="extend3 != null">,EXTEND3</if>
        <if test="extend2 != null">,EXTEND2</if>
        ,GMT_MODIFY
        <if test="status != null">,STATUS</if>
        <if test="subSystem != null">,SUB_SYSTEM</if>
        )values(
        #{dictValue}
        ,#{dictGroup}
        ,
        <include refid="common.now"/>
        <if test="parentValue != null">,#{parentValue,jdbcType=VARCHAR}</if>
        <if test="textColor != null">,#{textColor,jdbcType=VARCHAR}</if>
        <if test="dictText != null">,#{dictText,jdbcType=VARCHAR}</if>
        <if test="extend1 != null">,#{extend1,jdbcType=VARCHAR}</if>
        <if test="sortNum != null">,#{sortNum,jdbcType=NUMERIC}</if>
        <if test="extend3 != null">,#{extend3,jdbcType=VARCHAR}</if>
        <if test="extend2 != null">,#{extend2,jdbcType=VARCHAR}</if>
        ,
        <include refid="common.now"/>
        <if test="status != null">,#{status,jdbcType=NUMERIC}</if>
        <if test="subSystem != null">,#{subSystem,jdbcType=VARCHAR}</if>
        )
    </insert>

    <update id="update" parameterType="pubDataDictionaryEntity">
        update PUB_DATA_DICTIONARY
        <set>
            <if test="gmtCreate != null">GMT_CREATE=#{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="parentValue != null">PARENT_VALUE=#{parentValue,jdbcType=VARCHAR},</if>
            <if test="textColor != null">TEXT_COLOR=#{textColor,jdbcType=VARCHAR},</if>
            <if test="dictText != null">DICT_TEXT=#{dictText,jdbcType=VARCHAR},</if>
            <if test="extend1 != null">EXTEND1=#{extend1,jdbcType=VARCHAR},</if>
            <if test="sortNum != null">SORT_NUM=#{sortNum,jdbcType=NUMERIC},</if>
            <if test="extend3 != null">EXTEND3=#{extend3,jdbcType=VARCHAR},</if>
            <if test="extend2 != null">EXTEND2=#{extend2,jdbcType=VARCHAR},</if>
            GMT_MODIFY=<include refid="common.now"/>,
            <if test="status != null">STATUS=#{status,jdbcType=NUMERIC},</if>
            <if test="subSystem != null">SUB_SYSTEM=#{subSystem,jdbcType=VARCHAR},</if>
        </set>
        where DICT_VALUE=#{dictValue}
        and DICT_GROUP=#{dictGroup}
    </update>

    <select id="load" parameterType="pubDataDictionaryEntity" resultMap="pubDataDictionaryMap">
		select * from PUB_DATA_DICTIONARY where DICT_VALUE=#{dictValue}
		and DICT_GROUP=#{dictGroup}
	</select>

    <sql id="queryCommonSql">
        FROM PUB_DATA_DICTIONARY pdd
        <where>
            <if test="dictGroup != null and dictGroup.trim() !=''">
                and pdd.DICT_GROUP=#{dictGroup}
                and pdd.PARENT_VALUE!='root'
            </if>
            <if test="dictValue != null and dictValue.trim() !=''">and pdd.DICT_VALUE=#{dictValue}</if>
            <if test="gmtCreateFrom != null">and pdd.GMT_CREATE >= #{gmtCreateFrom}</if>
            <if test="gmtCreateTo != null"><![CDATA[and pdd.GMT_CREATE < #{gmtCreateTo} + 1]]></if>
            <if test="parentValue != null and parentValue.trim() !=''">and pdd.PARENT_VALUE =#{parentValue}</if>
            <if test="textColor != null and textColor.trim() !=''">and pdd.TEXT_COLOR = #{textColor}</if>
            <if test="dictText != null and dictText.trim() !=''">and pdd.DICT_TEXT like
                <choose>
                    <when test="_databaseId=='oracle'">
                        '%' || #{dictText} || '%'
                    </when>
                    <when test="_databaseId=='mysql'">
                        CONCAT('%',#{dictText},'%')
                    </when>
                </choose>
            </if>
            <if test="extend1 != null and extend1.trim() !=''">and pdd.EXTEND1 =#{extend1}</if>
            <if test="sortNumFrom != null">and pdd.SORT_NUM >= #{sortNumFrom}</if>
            <if test="sortNumTo != null"><![CDATA[and pdd.SORT_NUM <= #{sortNumTo}]]></if>
            <if test="extend3 != null and extend3.trim() !=''">and pdd.EXTEND3 =#{extend3}</if>
            <if test="extend2 != null and extend2.trim() !=''">and pdd.EXTEND2 =#{extend2}</if>
            <if test="gmtModifyFrom != null">and pdd.GMT_MODIFY >= #{gmtModifyFrom}</if>
            <if test="gmtModifyTo != null"><![CDATA[and pdd.GMT_MODIFY < #{gmtModifyTo} + 1]]></if>
            <choose>
                <when test="status != null">and pdd.STATUS = #{status}</when>
                <when test="statusArray != null">
                    and pdd.STATUS in
                    <foreach collection="statusArray" index="index" item="item" open="(" separator="," close=")">#{item}
                    </foreach>
                </when>
                <!-->
                <otherwise>
                    <if test="!includeDeleted">
                        and pdd.STATUS > 0
                    </if>
                </otherwise>
                <-->
            </choose>
            <if test="subSystem != null and subSystem.trim() !=''">and pdd.SUB_SYSTEM =#{subSystem}</if>
        </where>
    </sql>

    <sql id="sortSql">
        <choose>
            <when test="sort != null and sort.trim() !=''">
                order by ${sort}
            </when>
            <otherwise>
                <if test="sortByDefault">
                    order by pdd.PARENT_VALUE,pdd.SORT_NUM,pdd.DICT_VALUE
                </if>
            </otherwise>
        </choose>
    </sql>

    <select id="queryList" parameterType="pubDataDictionaryQuery" resultMap="pubDataDictionaryMap">
        <include refid="common.pageBegin"/>
        select pdd.DICT_VALUE ,pdd.DICT_GROUP
        <choose>
            <when test="columns != null and columns.length>0">
                <foreach collection="columns" index="index" item="item">,${item}</foreach>
            </when>
            <otherwise>
                ,pdd.GMT_CREATE
                ,pdd.PARENT_VALUE
                ,pdd.TEXT_COLOR
                ,pdd.DICT_TEXT
                ,pdd.EXTEND1
                ,pdd.SORT_NUM
                ,pdd.EXTEND3
                ,pdd.EXTEND2
                ,pdd.GMT_MODIFY
                ,pdd.STATUS
                ,pdd.SUB_SYSTEM
            </otherwise>
        </choose>
        <include refid="queryCommonSql"/>
        <include refid="sortSql"/>
        <include refid="common.pageEnd"/>
    </select>

    <select id="queryCount" parameterType="pubDataDictionaryQuery" resultType="int">
        select count(1)
        <include refid="queryCommonSql"/>
    </select>

    <update id="updateStatus" parameterType="pubDataDictionaryEntity">
        <!-->##update PUB_DATA_DICTIONARY set status=#{status} where DICT_VALUE=#{dictValue} and DICT_GROUP=#{dictGroup}<-->
        update PUB_DATA_DICTIONARY set status=#{status} where DICT_VALUE=#{dictGroup} and DICT_GROUP=#{dictValue}
    </update>

    <delete id="delete" parameterType="pubDataDictionaryEntity">
		delete from PUB_DATA_DICTIONARY where DICT_VALUE=#{dictValue} and DICT_GROUP=#{dictGroup}
	</delete>
</mapper>