<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- sptring path 匹配工具 -->
    <bean id="pathMatcher" class="org.springframework.util.AntPathMatcher"></bean>

    <!-- sptring 加密 工具 -->
    <bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder"></bean>

    <!-- validator -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <!--默认采用HibernateValidator，不用另行配置 <property name="providerClass" value="org.hibernate.validator.HibernateValidator"
            /> -->
    </bean>
</beans>